body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    background-color: lightsteelblue;
}

.container {
    padding: 30px 10px;
    margin: 0 auto;
    width: 85%;
}

.heading {
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 55px;
}

.nav {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
}

.nav-item:hover {
    color: white;
    cursor: pointer;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.about-me {
    display: flex;
    gap: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.about-me-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.dog {
    background: lightsteelblue;
}

.about-pic img {
    max-width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 30px;
}

.contact-btn {
    text-decoration: none;
    background: 20px gold;
    border-radius: 10px;
    padding: 20px 50px;
    font-weight: bolder;
    color: black;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

.contact-btn:hover {
    background-color: grey;
}


.dog-footer, .cat-header {
    height: 100vh;
}

footer {
    text-align: center;
}

.dog-section {
    background: lightsteelblue;
    height: 85vh;
}

.dog-section .contact-btn {
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

.dog-section .contact-btn-div {
    padding: 30px;
}